.move-list {
  max-height: 100px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  margin: auto 15px;
}

.move-list::-webkit-scrollbar {
    display: none;
}

.move-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.row {
    width: 250px;
    display: flex;
    color: white
}

.move-number {
    width: 50px;
    text-align: center;
}

.current-move {
    background-color: rgb(0, 143, 168);
}

.move {
    cursor: pointer;
    width: 100px;
}

.move:hover {
    background-color: rgb(0, 143, 168);
    opacity: 0.7
}

/* Responsive styles */
@media (max-width: 768px) {
  .move-list {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
  }
  .move {
    width: 80px;
  }
}
